/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'Pretendo';
	src: url('../fonts/Pretendo.ttf') format('woff2');
	font-weight: normal;
	font-style: normal;

}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:hsl(356, 100%, 45%);
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
	/* font */
  font-family:Pretendo, sans-serif;
  font-size: 1.5em;
  background-color:var(--color-background);

  /* positie */
  height: 100dvh;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/* jouw code */

h1{
	color:var(--color-text);
	letter-spacing: -.08em;
	border: solid 8px var(--color-text);
	border-radius: 5em;
	padding: .2em .8em;
	position: relative;

	width: 7em;
	height: 2em;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;

}

#n {
	display: inline-block;
	align-items: center;
}

#i {
	align-items: center;
}

#n2 {
	grid-column-start: 2/3;
}

#t {
	grid-column-start: 3/4;
}

#e {
	grid-column-start: 4/5;
}

#n3 {
	grid-column-start: 5/6;
}

#d {
	grid-column-start: 6/7;
}

#o {
	grid-column-start: 7/8;
}



@keyframes colorAnimation {

	0%{

		color: hsl(303, 100%, 50%);

	}

	20%{
	
		color: hsl(244, 100%, 50%);

	}
	
	40%{
		color: hsl(118, 100%, 51%);
	}
	
	60%{
		color: hsl(63, 100%, 50%);
	}

	80%{
		color: hsl(35, 100%, 50%);
	}

	100%{
		color: var(--color-text);
	}

}


@keyframes positionAnimation{
	0%{
		transform: translateY(10em);
	}

	/* 20%{
		transform: translateY(0);
	}

	40%{
		transform: translateY(0);
	}

	60%{
		transform: translateY(0);
	}

	80%{
		transform: translateY(0);
	} */

	100%{
		transform: translateY(0);
	}
}