/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'Pretendo';
	src: url('../fonts/Pretendo.ttf') format('woff2');
	font-weight: normal;
	font-style: normal;

}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:hsl(356, 100%, 45%);
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
	/* font */
  font-family:Pretendo, sans-serif;
  font-size: 1.5em;
  background-color:var(--color-background);

  /* positie */
  height: 100dvh;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

/* jouw code */

h1{
	color:var(--color-text);
	letter-spacing: -.08em;
	border: solid 8px var(--color-text);
	border-radius: 5em;
	position: relative;

	min-width: 7em;
	height: 2em;
}

h1 span{
	position: absolute;
	top: .4em;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}


#n {
	left: .6em;
	animation: colorAnimation 4s, positionY 4s;
	
}

#i {
	left: 1.5em;
	animation: colorAnimation 4s, positionY 4s;
	animation-delay: 0.4s;
}

#n2 {
	left: 1.9em;
	animation: colorAnimation 4s, positionY 4s;
	animation-delay: 0.8s;
}

#t {
	left: 2.6em;
	animation: colorAnimation 4s, positionY 4s;
	animation-delay: 1.2s;
}

#e {
	left: 3.1em;
	animation: colorAnimation 4s, positionY 4s;
	animation-delay: 1.6s;
}

#n3 {
	left: 3.8em;
	animation: colorAnimation 4s, positionY 4s;
	animation-delay: 2s;
}

#d {
	left: 4.6em;
	animation: colorAnimation 4s, positionY 4s;
	animation-delay: 2.4s;
}

#o {
	left: 5.4em;
	animation: colorAnimation 4s, positionY 4s;
	animation-delay: 2.8s;
}



@keyframes colorAnimation {

	0%{

		color: hsl(303, 100%, 50%);

	}

	20%{
		color: hsl(303, 100%, 50%);
	}

	35%{
	
		color: hsl(244, 100%, 50%);

	}
	
	50%{
		color: hsl(118, 100%, 51%);
	}
	
	65%{
		color: hsl(63, 100%, 50%);
	}

	80%{
		color: hsl(35, 100%, 50%);
	}

	100%{
		color: var(--color-text);
	}

}


@keyframes positionY{
	0%{
		transform: translateY(10em);
		scale: 1;

	}

	40%{
		scale: 3;
	}

	50%{
		transform: translateY(-1em);
	}

	100%{
		transform: translateY(0);
		scale: 1;
	}
}

